<div *ngIf="chat">
  <div class="TopBar">
    <div class="" style="height: 100%;">
      <img src="https://cdn.onlinewebfonts.com/svg/img_258083.png" class="imageTopbar">
    </div>
    <p>{{chat.chatName}}</p>
  </div>
  <div style="overflow-y: scroll; height: 80vh">
    <div *ngFor="let message of messageList" >
      <div *ngIf="!message.sent" style="overflow-y: hidden;">
        <div class="container left">
          <p>{{message.content}}</p>
          <span class="time-right">{{message.unixTime | unixToTimestamp}}</span>
        </div>
      </div>
      <div *ngIf="message.sent">
        <div class="container darker right">

          <p>{{message.content}}</p>
          <span class="time-left">{{message.unixTime | unixToTimestamp}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="BottomBar" >
  <input type="text" placeholder="Write a message">
    <button >
      <mat-icon>send</mat-icon>
    </button>
  </div>

</div>
